*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #333;
}
.nav-links a{
list-style: none;
text-decoration: none;
color:white;
font-weight: 500;
padding: 10px 15px;
border-radius: 5px;
margin: 0 10px;
font-weight: 500;
}

.hero {
    background-image: url("images/gle.avif");
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.hero .btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.hero .btn:hover {
    background-color: #e74c3c;
}
.featured-cars{
    padding: 50px;
    background-color: #f4f4f4;
    align-items: center;

}

.featured-cars h2{
    text-align: center;
    margin-bottom: 30px;
}
.car-listing {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 100px;
}
.car-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.car-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-item:hover img {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}

.section-2{
    padding: 50px;
    padding-top: 30px;
    background-color: #f4f4f4;
    color:white;
    text-align: center;
    background-image: url("images/Section2\ Bg.avif");
    background-size: cover;
}