*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #333;
}
.nav-links a{
list-style: none;
text-decoration: none;
color:white;
font-weight: 500;
padding: 10px 15px;
border-radius: 5px;
margin: 0 10px;
}

.hero {
    background-image: url("images/gle.avif");
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
